<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
 
  

</head>    
<body>
        
    <div class="well">
         
            &nbsp;&nbsp;
            <div style="color:rgb(35, 51, 51);font-size:18px;float:right;margin-right:5px;margin-top:4px">图书归还</div>
        </div>
    </div>    
      
           <div style="height:30px;"></div> 
            <!-- 读者验证 -->
        <div style="color:rgb(35, 51, 51);font-size:15px;margin-left:80px;">读者验证：
            <input placeholder="读者编号" style="width:150px" class="input-sm"/>
            <input type="button" class="btn btn-primary" value="确定"/></div>
            <!-- 高度 -->

            <div style="height:30px;"></div> 
  <div style=""> <!-- 读者信息 -->
        <label class="col-sm-1" style="text-align:right;">姓名:</label>
        <div class="col-sm-1">
                <input readonly="true"  type="text"  class="form-control input-sm" value="aaa" />
            </div> 
        <label class="col-sm-1"style="text-align:right">性别:</label>
        <div class="col-sm-1">
            <input readonly="true"  type="text"  class="form-control input-sm" value="男"   />
        </div>
        
        <label class="col-sm-1" style="text-align:right;">证件类型:</label>
        <div class="col-sm-1">
                <input readonly="true"  type="text"  class="form-control input-sm" value="学生证" />
            </div>
            
        <label class="col-sm-1"style="text-align:right">证件号码:</label>
        <div class="col-sm-1">
            <input readonly="true"  type="text"  class="form-control input-sm" value="1510301009"   />
        </div>
        <label class="col-sm-1" style="text-align:right;">读者类型:</label>
        <div class="col-sm-1">
                <input readonly="true"  type="text"  class="form-control input-sm" value="学生" />
            </div> 
        <label class="col-sm-1"style="text-align:right">可借数量：</label>
        <div class="col-sm-1">
            <input readonly="true"  type="text"  class="form-control input-sm" value="5"   />
        </div>
    </div> <!--  end-读者信息 -->

            
 <!-- 已借阅书籍 -->
        <div style="height:30px;"></div>
        <div class="well" style="height:50px ">
            <div style="margin-top:2px"  class="img-rounded"  ></div>       
            <div style="color:rgb(35, 51, 51);font-size:18px;float:right;margin-right:4px;">已借阅书籍</div>
    </div>
</body>

</html>