<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>悦读图书管理系统</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src='js/bootstrap.min.1.js'></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
           <img src="Images/logo.png" style="width: 80px; margin-right: 20px" class="img-rounded pull-left">
            <h2>欢迎来到悦读图书馆！</h2>
            <h5>悦读图书，快乐的学习。</h5>
        </div>
    </div>
          <div class="container">
            <div class="pull-left"><input ID="txtBookName"  placeholder="请输入书名" class="form-control" Width="300px"></asp:TextBox></div>
          
            <div class="pull-left" style="margin-left:30px;">  <button type="button" class="btn btn-default">按钮 3</button>
              <div class="pull-clear"></div>
            </div>
            <div class="container">
                <table class="table table-condensed">
                    <caption>精简表格布局</caption>
                    <thead>
                        <tr>
                            <th>封面</th>
                            <th>书名</th>
                            <th>作者</th>
                            <th>出版社</th>
                            <th>页码</th>
                            <th>馆存数量</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                   
                    </tbody>
            </div>
 
</body>
</html>

   

   
